/* ===============================================================================================
											
											Fonts

=============================================================================================== */
@font-face {
	font-family: "Cousine";
	src: 
		url("../assets/fonts/Cousine/Cousine-Regular.woff2") format('woff2'),
		url("../assets/fonts/Cousine/Cousine-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cousine";
	src: 
		url("../assets/fonts/Cousine/Cousine-Bold.woff2") format('woff2'),
		url("../assets/fonts/Cousine/Cousine-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap; 
}

/* ===============================================================================================
											
											Colors & Variables

=============================================================================================== */
:root {
	--primary: #0f421e;
	--primary-heavy: #0F2210;
	--background-color: rgb(10, 11, 10);
	--background-color-low-opacity: rgba(15, 16, 15, 0.110);
	--scrollbar-colors: var(--primary) var(--background-color);
	--nav-link-color: white;
	--hero-filter: sepia(70%) hue-rotate(75deg) contrast(110%) saturate(130%);
	--hero-text-bg: white;
	--hero-blend-mod: screen;

	--mode-color: black;
	--mode-opposite-color: white;

	--ascii-pfp-bg: rgba(0, 0, 0, 0);

	--background-gradient: 
		conic-gradient(
			from -180deg at left 100vh,
			oklch(19.443% 0.05179 151.459 / 0.6),
			oklch(21.553% 0.05581 145.667 / 0.8),
			oklch(0% 0 0 / 0.85),
			oklch(8.874% 0.01568 144.143 / 0.9),
			oklch(19.443% 0.05179 151.459 / 0.6)
			),
		url("../assets/noise.svg");
	

	--hero-text-gradient:
		conic-gradient(
				from -90deg at left top,
				oklch(100% 0.00011 271.152 / 0),
				oklch(44.226% 0.00005 271.152 / 0.2),
				oklch(89.449% 0.0001 271.152),
				oklch(62.793% 0.25768 29.223 / 0.3),
				oklch(44.226% 0.00005 271.152 / 0.2)
			),
		url("../assets/noise.svg");

	--header-gradient:
		linear-gradient(
			to bottom,
			rgba(10, 11, 10, 0.45) 0%,
			rgba(10, 11, 10, 0.2) 40%,
			rgba(10, 11, 10, 0.1) 60%,
			rgba(10, 11, 10, 0.075) 70%,
			rgba(10, 11, 10, 0.035) 80%,
			rgba(10, 11, 10, 0) 100%
		);
	
	--colored-shadow-mode:
		0 0 1px rgba(255, 255, 255, 1),
		0 0 3px rgb(215, 240, 213, .7),
		0 0 6px rgb(166, 215, 163, .5),
		0 0 8px rgba(81, 156, 56, .4);

	--colored-shadow-opposite-mode:
		0 0 1px rgb(0, 0, 0),
		0 0 3px rgba(30, 36, 28, 0.5),
		0 0 6px rgba(46, 66, 45, 0.3),
		0 0 8px rgba(40, 93, 22, 0.3);
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: #0f421e;
		--primary-heavy: #92d896;
		--background-color: rgb(224, 232, 220);
		--background-color-low-opacity: rgba(224, 232, 220, 0.110);
		--scrollbar-colors: var(--primary) var(--background-color-low-opacity);
		--nav-link-color: black;
		--hero-filter: sepia(75%) hue-rotate(75deg) brightness(130%) contrast(110%) saturate(130%) invert(100%) hue-rotate(180deg);
		--hero-text-bg: black;
		--hero-blend-mod: multiply;

		--ascii-pfp-bg: rgb(0, 0, 0);

		--mode-color: white;
		--mode-opposite-color: black;

		--background-gradient:
			conic-gradient(
				from -180deg at left 100vh,
				oklch(78.758% 0.09549 153.265 / 0.6),
				oklch(41.539% 0.11377 144.757 / 0.8),
				oklch(97.614% 0.00011 271.152 / 0.45),
				oklch(79.318% 0.03535 145.351 / 0.5),
				oklch(78.758% 0.09549 153.265 / 0.6)
			),
			url("../assets/noise.svg");

		--header-gradient:
			linear-gradient(
				to bottom,
				rgba(224, 232, 220, 0.45) 0%,
				rgba(224, 232, 220, 0.2) 40%,
				rgba(224, 232, 220, 0.1) 60%,
				rgba(224, 232, 220, 0.075) 70%,
				rgba(224, 232, 220, 0.035) 80%,
				rgba(224, 232, 220, 0) 100%
			);
		
		--colored-shadow-mode:
			0 0 1px rgb(0, 0, 0),
			0 0 3px rgba(30, 36, 28, 0.5),
			0 0 6px rgba(46, 66, 45, 0.3),
			0 0 8px rgba(40, 93, 22, 0.3);

		--colored-shadow-opposite-mode:
			0 0 1px rgba(255, 255, 255, 1),
			0 0 3px rgb(215, 240, 213, .7),
			0 0 6px rgb(166, 215, 163, .5),
			0 0 8px rgba(81, 156, 56, .4);

	}
}



/* ===============================================================================================
											
											General Selectors

=============================================================================================== */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

html {
	color-scheme: dark light;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-colors);
	scroll-behavior: smooth;

	scroll-snap-type: y mandatory;
}

body {
	min-height: 100dvh;
	
	font-family: "Cousine", monospace;
	line-height: 1.6;
	font-size: 1.125rem;
	
	background: var(--background-color);
	background: var(--background-gradient);
	scroll-snap-type: inherit;
}

*::selection {
	background: var(--mode-opposite-color);
	color: var(--background-color);
}

/* ===============================================================================================
											
											Typography

=============================================================================================== */

.logo-text{
	color: var(--nav-link-color);
	text-decoration: none;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 400;
	text-shadow: 
		0 0 2px var(--mode-opposite-color),
		0 0 5px var(--mode-color),
		0 0 10px var(--mode-color);
}

.social-link,
.nav-link {
	display: block;
	padding: 0.35rem 0.75rem;
	font-size: 0.9rem;
	color: var(--nav-link-color);
	text-decoration: none;
	text-shadow: 0 0 2px black;
	white-space: nowrap;
}

.social-link:hover,
.social-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.is-active {
	background-color: var(--mode-opposite-color);
	color: var(--mode-color);
	text-shadow: var(--colored-shadow-opposite-mode);
	outline: transparent;
}

.hero-text{
	position: relative;
	z-index: 2;
	color: black;
	letter-spacing: 0.05em;
	text-shadow: -1px 1px 5px rgba(7, 53, 9, 0.8);
	line-height: 1.2;
}

.hero-text-title {
	font-size: 1.25rem;
	font-weight: 700;
}

.hero-text-subtitle {
	font-size: 0.8rem;
	font-weight: 400;
	width: 100%;
	text-align: right;
}


/* ===============================================================================================
											
											Layout

=============================================================================================== */

/* ================================					
		General Body Classes
================================*/

main {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 5em;
}

.container {
	width: 90%;
	max-width: 80rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
}

/* ================================					
		Header - General
================================*/

.main-header .container{
	flex-direction: row;
	align-items: center;
}

.main-header{
	position: fixed;
	width: 100%;
	background: var(--header-gradient);
	padding: 0.5em 0;
	z-index: 10;
}

/* ================================					
		Nav - General
================================*/

.main-nav{
	width: 100%;
}

.main-nav-ul,
.nav-links-dropdown-container{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	text-decoration: none;
}

.main-nav-ul{
	justify-content: space-between;
	gap: 1.15em;
}

/* ================================					
		Nav / Social Dropdowns
================================*/

.nav-icon{
	height: 1.45rem;
	width: 1.45rem;
	object-fit: cover;
	fill: var(--mode-opposite-color)
}

.logo {
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	object-fit: cover;

	transform-origin: 50% 50%;
	will-change: transform;
}


.social-links-dropdown-container,
.nav-links-dropdown-container {
	position: relative;
	list-style: none;
}

/* .social-links-dropdown-container{
	order: -1;
} */

.social-links-dropdown-container-btn,
.nav-links-dropdown-container-btn{
	background: transparent;
	border: 0;
	margin: 0;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}

.nav-links-dropdown-container-btn{
	padding: 0.5em;
	margin-left: -0.5em; /* This is to make the btn appear on the edge*/
}

.social-links-dropdown-container-btn {
	margin-right: -0.37em; /* This is to make the logo appear on the edge*/
	padding: 0.07em 0;
}

.social-links-dropdown-container-btn:focus,
.nav-links-dropdown-container-btn:focus,
.social-links-dropdown-container-btn:hover > .logo-text,
.social-links-dropdown-container-btn:focus > .logo-text{
	outline: transparent;
	text-decoration: none;
}

.social-links-dropdown-container-btn:focus > img,
.social-links-dropdown-container-btn:hover > img{
	filter: invert(100%) hue-rotate(180deg) saturate(150%);
}

.nav-links-dropdown-container-btn:focus > .nav-icon,
.nav-links-dropdown-container-btn:hover > .nav-icon{
	stroke: var(--mode-opposite-color);
	stroke-width: 2px;
	fill: var(--mode-color);
}

.social-links-dropdown-container-btn .logo {
	animation: none;
}

.social-links-dropdown-container-btn:hover .logo,
.social-links-dropdown-container-btn:active .logo {
	animation-name: logo-spin;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(.34, .07, .65, .97);
	animation-iteration-count: 1;
}

.social-links-dropdown-container-btn:active .logo {
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 550ms;
	animation-delay: 800ms;
}

.social-menu,
.nav-menu {
	position: absolute;
	top: calc(100%);

	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	min-width: 7.5rem;

	padding: 0.5rem 0.5rem;
	margin: 0;

	list-style: none;

	background: var(--background-gradient);
	border: 2px solid var(--mode-opposite-color);

	opacity: 0;
	transform: translateY(-6px);
	pointer-events: none;

	transition: opacity 160ms ease, transform 160ms ease;
	z-index: 50;
}

.nav-menu{
	left: 0;
}

.social-menu{
	right: 0;
	text-align: right;
}

/* ================================					
		Hero Element
================================*/

.hero {
	position: relative;
	width: 100%;

	max-height: 100vh;
	height: 100vh;
	/* aspect-ratio: 16 / 9; */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-transform: uppercase;

	/* Have to keep this filter here to get the look I want as without it, the exclusion blending mode breaks the color*/
	filter: var(--hero-filter);
	mix-blend-mode: var(--hero-blend-mod); 

	/* Mask Bottom */
	-webkit-mask-image: 
		linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.5) 10%,
			rgba(0, 0, 0, 0.85) 15%,
			rgba(0, 0, 0, 0.95) 20%,
			rgba(0, 0, 0, 1) 30%,
			rgba(0, 0, 0, 1) 70%,
			rgba(0, 0, 0, 0.95) 80%,
			rgba(0, 0, 0, 0.85) 85%,
			rgba(0, 0, 0, 0.5) 90%,
			rgba(0, 0, 0, 0) 100%
		);
	-webkit-mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;

	mask-image: 
		linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.5) 10%,
			rgba(0, 0, 0, 0.85) 15%,
			rgba(0, 0, 0, 0.95) 20%,
			rgba(0, 0, 0, 1) 30%,
			rgba(0, 0, 0, 1) 70%,
			rgba(0, 0, 0, 0.95) 80%,
			rgba(0, 0, 0, 0.85) 85%,
			rgba(0, 0, 0, 0.5) 90%,
			rgba(0, 0, 0, 0) 100%
		);
	mask-size: 100% 100%;
	mask-repeat: no-repeat;

	-webkit-user-select: none; /* Safari */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10+ */
	user-select: none;  
} 

.hero-text-container{
	position: relative;
	z-index: 1;
	
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: center;
	gap: 0.2rem;
	text-align: left;

	padding: 0.1rem 0.3rem;
	
	background: var(--hero-text-bg);
	background: var(--hero-text-gradient);
	
	mix-blend-mode: screen;
	
	box-shadow: -5px 5px #2a2a2a;
	border-right: 3px solid rgb(127, 127, 127);
	border-bottom: 3px solid rgb(74, 74, 74);
}

.hero-text-container::after{
	content: "";
	position: absolute;
	z-index: 3;
	top: -0.25rem;
	right: 0.25rem;
	width: 81.5%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	mix-blend-mode: exclusion;
	pointer-events: none;

	transform-origin: left;
  	transform: scaleX(0);
  	transition: transform 2s ease-in-out;
	transition-delay: 2s;
}

.hero-text-inverse{
	background-color: black;
	color: white;
	padding: 0.1rem 0.3rem;
}

.glitched-asset-container,
.glitched-asset,
.glitched-asset-container canvas,
.glitch-placeholder-container,
.glitch-placeholder{
	position: absolute;
	inset: 0;
	z-index: 0;
	pointer-events: none;
}

.glitched-asset-container{
	opacity: 0; 
	transition: opacity 1000ms ease-in;
}

.glitched-asset,
.glitched-asset-container canvas,
.glitch-placeholder{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

.glitched-asset-container.is-ready{
  	opacity: 1;  
}

.glitch-placeholder{
	opacity: 0; 
  	animation: fade 2s forwards;
	animation-delay: 1s;
}

/* ================================					
		Footer
================================*/
footer{
	background: var(--mode-color);
	background: var(--header-gradient);
	color: var(--mode-opposite-color);
	padding: 1.5em;
	text-align: center;
	rotate: 180deg;
	display: flex;
	margin-top: 1rem;
	text-shadow: var(--colored-shadow-mode);
}

/* ===============================================================================================
											
											Animations

=============================================================================================== */

.fade-in {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.5s ease, transform 5s ease;
}

.fade-in.is-visible {
	opacity: 1;
	transform: translateY(0);
}

.social-links-dropdown-container.is-open:focus-within > .social-menu,
.nav-links-dropdown-container.is-open:focus-within > .nav-menu{
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.social-links-dropdown-container.is-open > .social-menu,
.nav-links-dropdown-container.is-open > .nav-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.hero-text-inverse.is-visible,
.hero-text-container.fade-in.is-visible::after {
	transform: scaleX(1);
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes logo-spin{
	from { transform: rotate(0deg); }
	to   { transform: rotate(1080deg); }
}

/* ================================					
		Scroll Snapping
================================*/

.hero,
.about-me-section{
	scroll-snap-align: start;
	scroll-snap-stop: normal; 
	scroll-margin-top: 3rem;
	scroll-margin-bottom: 1.5rem;
	scroll-padding: 100px;
}



/* ===============================================================================================
											
											Media Queries

=============================================================================================== */


@media (min-width: 45rem) {

	.container {
		width: 85%;
	}

	.main-header{
		padding: 0.75em 0;
	}
	
	.main-nav-ul{
		gap: 1.5em;
	}

	.nav-link,
	.logo-text{
		font-size: 1rem;
	}
	
	.logo-text{
		display: inline;
	}

	.nav-link{
		display: flex;
		color: var(--nav-link-color);
		cursor: pointer;
		padding: 0.4em 0.8em;
		margin: 0 -0.8em; /* Need the horizontal margin to the inverse of padding so edges line up  */
		font-weight: 400;
		text-shadow: 
			0 0 2px var(--mode-opposite-color),
			0 0 5px var(--mode-color),
			0 0 10px var(--mode-color);
	}

	.nav-link:hover,
	.nav-link:focus{
		background-color: var(--mode-opposite-color);
		color: var(--mode-color);
		text-shadow: var(--colored-shadow-opposite-mode);
		border-radius: 0;
		outline: transparent;			
	}

	.nav-menu{
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1.5em;
		position: static;     
		opacity: 1;
		transform: none;
		pointer-events: auto;

		background: transparent;
		border: 0;
    	padding: 0;
	}


	.nav-links-dropdown-container-btn{
		display: none;
	}

	.social-links-dropdown-container-btn {
		margin-right: -0.5em; /* This is to make the logo appear on the edge*/
	}

	.logo {
		height: 3.5rem;
		width: 3.5rem;
	}

	.social-link {
		padding: 0.5rem 1.45rem;
		font-size: 1.125rem;
	}

	.hero-text-container{
		padding: 0.3rem 0.75rem;
		border-right: 5px solid rgb(127, 127, 127);
		border-bottom: 5px solid rgb(74, 74, 74);
	}

	.hero-text-container::after{
		top: -0.5rem;
		right: 0.35rem;
		width: 81.5%;
	}

	.hero-text-title {
		font-size: 2.5rem;
	}

	.hero-text-subtitle {
		font-size: 1.25rem;
	}
}