.about_me_section{
	/* background: var(--background-gradient); */
	border: 2px solid var(--mode-opposite-color);
	padding: 1.25em;
	font-size: 1rem;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: clamp(32rem, 75vh, 100rem);
	margin: 0 auto 7vh;
	position: relative;

	text-shadow: var(--colored-shadow-mode);
	
}

.section-heading{
	font-weight: 700;
	line-height: 1;
	padding: 0.25em 0.4em;
	padding-top: 0.3em;
	background-color: var(--mode-opposite-color);
	color: var(--mode-color);
	position: absolute;
	transform: translateY(-50%);
	z-index: 2; 
}

.section-container{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border: 2px dashed var(--mode-opposite-color);
}

/* Padding Top/Bottom */
.skills-section-list,
.contact-section-list,
.bio-section{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Padding sides */
.bio-section,
.skills-section-heading,
.contact-section-heading,
.skills-section-list,
.contact-section-list{
	padding-left: 1rem;
	padding-right: 1rem;
}

.bio-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60%;
}

.profile-pic{
	width: 20%;
	height: 100%;
	object-fit: cover;
	background: var(--ascii-pfp-bg);
}

.bio-section-text{
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-left: 1rem;
	width: 80%;
}

.bio-section-text-heading-container{
	display: flex;
	flex-wrap: wrap;
}

.bio-section-text-heading{
	white-space: nowrap;
	font-size: clamp(0.6rem, 1.65vw, 1.2rem);
}

.section-container-lower-half{
	height: 40%;
	border-top: 2px dashed var(--mode-opposite-color);
	display: flex;
	flex-direction: row;
}

.skills-section{
	width: 68%;
}

.contact-section{
	border-left: 2px dashed var(--mode-opposite-color);
	width: 32%;
}

.skills-section-heading,
.contact-section-heading{
	font-weight: 700;
	padding-top: 0.4em; 
	padding-bottom: 0.25rem;
	border-bottom: 2px dashed var(--mode-opposite-color);
}

.skills-section-list-item,
.contact-section-list-item{
	list-style-position: inside;
}

/* .contact-section-list-item{
	list-style-type: "> ";
}

.skills-section-list-item{
	list-style-type: "­­­­­­­­­­­­▪­­­­­­­ ­";
} */

.skills-section-list-item::marker { 
	content: "▪"; 
}

.contact-section-list-item::marker { 
	content: ">"; 
}  


.skills-section-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	white-space: nowrap;
}

.contact-section-link,
.skills-section-skill{
	color: inherit;
	text-decoration: none;
	background: inherit;
	/* padding: 0.2em -.4em; */
	padding: 0.2em calc(1ch + 0.4em);
	margin: -0.2em -0.4em;
}

.contact-section-link:hover,
.contact-section-link:focus{
	/* text-decoration: underline; */
	background-color: var(--mode-opposite-color);
	color: var(--mode-color);
	font-weight: 700;
	text-shadow: var(--colored-shadow-opposite-mode);
	border-radius: 0;
	outline: none;
	margin: -0.2em calc(-0.55em + 2ch);
}


.contact-section-list-item:has(.contact-section-link:hover)::marker,
.contact-section-list-item:has(.contact-section-link:focus)::marker{
	content: "<";
}

.contact-section-list-item:has(.contact-section-link:hover)::after,
.contact-section-list-item:has(.contact-section-link:focus)::after{
	content:">";
	position: absolute;
	padding-left: 2ch;
}


@media (max-width: 45rem) {

	.about_me_section{
		height: auto;
		margin: 0 auto 5vh;
		font-size: 0.875rem;
		line-height: 1.6;
	}

	

	.bio-section{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: auto; 
	}

	.profile-pic{
		display: none;
	}

	.bio-section-text{
		gap: 1rem;
		padding-left: 0;
		width: 100%;
	}

	.bio-section-text-heading-container{
		margin: 1em 0 0;
	}

	.bio-section-text-heading{
		font-size: clamp(0.6rem, 1.8vw, 1rem);
	}

	.section-container-lower-half{
		height: auto;
		flex-direction: column;
		gap: 1em;
	}

	.skills-section,
	.contact-section{
		width: 100%;
		border-left: none;
	}

	.contact-section{
		border-top: 2px dashed var(--mode-opposite-color);
	}

	.skills-section-heading,
	.contact-section-heading{
		font-weight: 700;
		padding-top: 0.4em; 
		padding-bottom: 0.25rem;
		border-bottom: 2px dashed var(--mode-opposite-color);
	}
}